/*page layout code*/


.main_content {
	height: 100vh;
	overflow-x: hidden;
	font-family: 'Roboto Condensed', sans-serif;
}

.main_content p {
	font-family: 'Slabo 27px', serif;
}

.row {
	/*width: 100%;*/
}

.left {
	background-color: #fff;
	height: 100vh;
	margin: 0;
	transform: skewX(-15deg);
}

.left .container {
	padding-top: 15%;
	transform: skewX(15deg);
}

.right {
	height: 100vh;
	transform: skewX(-15deg);
	background-color: #0D254C;
	color: #fff;
	margin: 0;
	/*margin-left: 48px;*/
}

.right .container {
	padding-top: 15%;
	transform: skewX(15deg);
}


/*navigation bar code*/

.navbar {
	transform: skewX(15deg);
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding-top: 24px;
}

.navbar ul li {
	padding: 0;
	text-align: center;
}

.navbar ul li a {
	font-size: 1.2em;
	text-decoration: none;
}

@media (max-width: 400px) {
	.navbar ul li {
		text-align: left;
	}
	
	.navbar ul li a {
		font-size: 1em;
		text-align: right;
		text-decoration: none;
	}
}

.logo {
	height: 32px;
	width: 32px;
	display: block;
	margin: 30% 0 0 40%;
}

.social-icons li {
  display: inline-block;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  text-indent: -9999px;
        }
 .twitter {
                background-image: url(../images/twitter.png);
                width: 24px;
                height: 24px;
              }
 .twitter:hover {
                background-color: #3CB371;
                width: 24px;
                height: 24px;
                -moz-border-radius: 50px;
                webkit-border-radius: 50px;
                border-radius: 50px;
              }

  .linkedin {
                background-image: url(../images/linkedin.png);
                width: 24px;
                height: 24px;
            }
  .linkedin:hover {
                background-color: #3CB371;
                width: 24px;
                height: 24px;
                -moz-border-radius: 50px;
                webkit-border-radius: 50px;
                border-radius: 50px;
              }

  .instagram {
    background-image: url(../images/instagram.png);
    width: 24px;
    height: 24px;
            }
  .instagram:hover {
                background-color: #3CB371;
                width: 24px;
                height: 24px;
                -moz-border-radius: 50px;
                webkit-border-radius: 50px;
                border-radius: 50px;
              }






