/*page layout code*/


.main_content {
	height: 100vh;
	overflow-x: hidden;
}

.row {
	width: 100%;
}

.left {
	background-color: #fff;
	height: 100vh;
}

.left .container {
	padding-top: 15%;
}

.right {
	height: 100vh;
	transform: skewX(-15deg);
	background-color: #888;
}

.right .container {
	padding-top: 15%;
	transform: skewX(15deg);
}