/*page layout code*/

body {
	background-color: #3CB371;
}


.main_content {
	/*height: 100vh;*/
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #fff;
}

.main_content p {
	font-family: 'Slabo 27px', serif;
}

.row {
	/*width: 100%;*/
}

.left {
	height: 100%;
	background-image: url(../images/leftbg.jpg);
	/*opacity: 0.8;*/
}

.left .container {
	padding-top: 15%;
}

.right {
	height: 100%;
	text-align: center;
	margin: 0;
	margin-left: 2%; /*dont get rid of this, it centers the social media logo*/
	background-color: #fff;
}

.right .container {
	padding-top: 15%;
}


/*landing section styles go here*/

#landing {
	height: 100vh;
}

.signUp {
	color: #3CB371;
	opacity: 1;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}

.signUp:hover {
	opacity: .2;
}


/*how it works section styles go here*/

#how {
	display: none;
	height: 100vh;
}



/*why us section styles go here*/

#why {
	display: none;
	padding-bottom: 15%;
}



/*contact section styles go here*/

#contact {
	display: none;
	color: #3CB371;
	height: 100vh;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
	background-color: #3CB371;
}


/*universal page styles go here*/

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	color: #3CB371;
}


/*navigation bar code*/

.navbar {
	width: 100%;
	margin-top: 7%;

}

.navbar ul.row {
	list-style-type: none;
	margin: 0;
	padding-top: 24px;
	text-align: center;
}

.navbar ul.row li {
	padding: 0;
	text-align: center;
}

.navbar ul.row li a {
	font-size: 1.5em;
	text-decoration: none;
	color: #3CB371;
	text-align: center;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}

.navbar ul.row li a:hover {
	opacity: .2;

}






.logo {
	/*display: block;*/
	margin: 30% auto;
	padding-bottom: 10%;
}

.logoText {
	opacity: 0;
	text-shadow: 0 0 10px #3CB371;
}


.logo img {
	border-radius: 50%; /* made the logo round? Idk up to you */
	border: 5px solid #3CB371;
	/* logo animation stuff below */
	animation-duration: 2s;
	/*animation-iteration-count: infinite;*/
    animation-delay: 1s;
	/*transition: border 2s;*/
}

.logo img:hover {
	/*border: 5px solid #3CB371; */ 
}

.social-icons li {
  display: inline-block;
  background-color: #fff;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  text-indent: -9999px; /* what a hack lol */
  border: 2px solid #3CB371;
  border-radius: 50%;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.social-icons a:hover {
	background-color: #3CB371;
}

/* I put all your hover styles into one style above, makes the code DRY */

.twitter {
	background-image: url(../images/twitter.png);
	width: 24px;
	height: 24px;
}

.linkedin {
    background-image: url(../images/linkedin.png);
    width: 24px;
    height: 24px;
}

.instagram {
    background-image: url(../images/instagram.png);
    width: 24px;
    height: 24px;
}

.divider {
	height: 100%;
	background-color: #fff;
}



